* {
    margin: 0; /*es para quitar el margen predeterminado*/
    padding: 0; /*no deja distancia entre secciones*/
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; /*comportamiento del scroll*/
}
body {
    font-family: "Raleway", sans-serif; /*fuentes de texto */
}
header {
    /* background: #4CA1AF;  fallback for old browsers */
    background: -webkit-linear-gradient(to right, #94c8ce, #96b2bf);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #94c8ce, #96b2bf);  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height:500px;
    padding: 48px;
    width: 100%;
}

nav {
    position: fixed;
    top: 20px;
    left: 20px;
}
nav a {
    display: inline-block;
    color: #000000;
    font-weight:600;
    text-decoration: none;
    margin-top: 30px;
    border: 4px solid #000000;
    width: 150px;
    border-radius: 100px;
    text-align: center;
    padding: 10px 0;
    animation: arriba 2.5s ease-in;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}
/* .container img {
    display: block;
    height: 505px;
    object-fit: cover;
    width: auto;
    animation: arriba 2.5s ease-in;
} */
.letras {
    width: 50%;
    color: #ffffff;
}
.letras h1 {
    font-size: 80px;
    animation: moverDerecha 2.5s ease-in;
}
.letras h3 {
    font-size: 30px;
    animation: moverIzquierda 2.5s ease-in;
}
/*efectos de movimiento del header*/
@keyframes moverIzquierda {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moverDerecha {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes arriba {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
.hero-wave{
width: 100%;
height: 90px;
background: #4CA1AF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #99d7e2, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #81d1df, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*estilos generales*/
.contenedor,
.wave-contenedor {
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 10px 0; /*espaciado entre secciones*/
}
.contenedor h4 {
    font-size: 50px;
    text-align: center;
    padding: 12px 0;
}
.contenedor {
    padding: 60px 0; /*espacio de entre secciones abajo*/
}
.titulo {
    /*arreglo a todos las clase de titulos*/
    font-weight: 700; /*grosor de la letra del titulo*/
    font-size: 35px;
    text-align: center;
    margin-bottom: 80px;
}
.titulo.left {
    text-align: center; /*todos los textos que tengan la propirdad left se alinen a la izquierda*/
}
.titulo.right {
    text-align: right; /*todos los textos que tengan la propirdad left se alinen a la derecha*/
}
/*section*/
.webside {
    display: flex; /*pone elementos uno al lado del otro*/
    justify-content: space-between; /*y esto le da espacio entre ellos*/
}
.webside img {
    width: 50%; /*Ancho de la imagen */
}
.webside .contenedor-textos-main {
    width: 40%; /*ancho del contenedor del texto */
}
.parrafo {
    text-align: justify; /*estilo alineacion de texto */
    margin-bottom: 30px; /*distancia entre el techo y el boton*/
}
.cta {
    /*diseño de los botones de envio */
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(to right, #4bd2df 0%, #c4f4f6 100%);
    padding: 12px 18px;
    border-radius: 30px;
    color: #ffffff;
}


/*carrusel2*/
.carrusel {
    /*estilo derecuadro*/
    background-image: linear-gradient(to top,#1d46622a  0%,  #72aab72d 100%);
    height: 600px; /*alto de recuadro del degrade */
}
.carrusel h2{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}
.wrapper {
    position: absolute;
    width: 320px;
    margin: 10px 360px;/*posicion carrusel en cuanto a linea azul*/
    perspective: 1500px;
}
.contentt-all{
    width: 210px;
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 50px;
}
.contentt-carrusel{
    width: 100%;
    position: absolute;
    animation: rotar 70s infinite linear;
    transform-style: preserve-3d;
}
.contentt-carrusel:hover{
    animation-play-state: paused;
    cursor: pointer;
}
.contentt-carrusel figure{
    width: 100%;
    height: 138px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0 0 0 0 black;
    transition:all 300ms;
    border: 1px solid #77b5b8;
    border-radius: 30px;
}
.contentt-carrusel figure:hover{
    box-shadow: 0 0 20px 3px black;
    transition:all 300ms;
}

.contentt-carrusel figure:nth-child(1)  {transform: rotateY(36deg)  translateZ(450px);}
.contentt-carrusel figure:nth-child(2)  {transform: rotateY(72deg)  translateZ(450px);}
.contentt-carrusel figure:nth-child(3)  {transform: rotateY(108deg) translateZ(450px);}
.contentt-carrusel figure:nth-child(4)  {transform: rotateY(144deg) translateZ(450px);}
.contentt-carrusel figure:nth-child(5)  {transform: rotateY(180deg) translateZ(450px);}
.contentt-carrusel figure:nth-child(6)  {transform: rotateY(216deg) translateZ(450px);}
.contentt-carrusel figure:nth-child(7)  {transform: rotateY(252deg) translateZ(450px);}
.contentt-carrusel figure:nth-child(8)  {transform: rotateY(288deg) translateZ(450px);}
.contentt-carrusel figure:nth-child(9)  {transform: rotateY(324deg) translateZ(450px);}
.contentt-carrusel figure:nth-child(10) {transform: rotateY(360deg) translateZ(450px);}
.contentt-carrusel img{
    width: 100%;
}
.contentt-carrusel img:hover{
    transform: scale(1.1);
    transition: all 300ms;
}
@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}




/*7 funciones de recursos humanos*/
.last-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 100px;
}
.last-section .contenedor-textos-main {
    width: 40%;
}

/*Info*/
.info{
    background-image: linear-gradient(120deg, #42b5e2 0%, #258b92 100%);
    color: #ced9db;
}
.info h1{
    text-align: center;
}
.info p{
    text-align: center;
}



/*Cards*/
.content-cards {
    display: flex; /*los pone uno al lado del otro*/
    width: 100%; /*ancho de la tarjeta */
    justify-content: space-evenly; /*espacio equitativo entra cada uno */
    flex-wrap: wrap; /*si sobrepasa el elemento que se ponga uno debajo del otro */
}

.card {
    width: 30%;
    text-align: center;
    height: 350px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5); /*sobra de la tarjeta*/
    transform: scale(1);
    transition: transform 0.6s;
    margin-bottom: 30px;
}
.card:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5); /*color del borde*/
    transform: scale(1.05); /*tamaño del efecto*/
    cursor: pointer; /*efecto del cursor*/
}
.card i {
    margin: 30px 0 20px 0; /*espacio de icono en margen*/
    color: #47c2de; /*color icono*/
    font-size: 50px; /*tamaño icono*/
}
.card p {
    font-weight: 350; /*nivel de grosor del parrafo */
    font-size: 15px; /*tamaño de parrafo*/
    margin-bottom: 40px; /*distancia del boton con referencia al techo*/
}


/*galeria*/
h2{
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}
h2::after{
    background:#4ba8bd;
    width: 100%;
    content:'' ;
    height: 6px;
    margin-top: 20px;
    display: block;
}
.portafolio {
    background: #b7c5dd69;
}
.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-port {
    width: 30%;
    margin-bottom: 50px;
    height: 320px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 100%;
}
.imagen-port > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: #285a7cb0;
    transition: transform 1.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 8px 8px 8px 8px rgba(143, 195, 219, 0.945); /*color del borde*/
    border-radius: 100%;
}
.hover-galeria i {
    width: 50px;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}
.hover-galeria p {
    color: #ffffff;
    text-align: center;
}
.imagen-port:hover .hover-galeria {
    transform: scale(1);
}
/*Clientes*/
.cardss{
    display: flex;
    justify-content: space-evenly;
}
.cardss .card1{
    background-image: linear-gradient(120deg, #6bc7cf 0%, #4dc3d8 100%);
    display: flex;
    width: 30%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
    border: lightslategrey;
    

}
.cardss .card1 img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid#000000;
    border-radius: 50%;
    display: block;
}
.cardss .card1 > .contenido-textos-card{
    width: 60%;
    color: #000000;
}
.cardss .card1 > .contenido-textos-card p{
    font-weight: 300;
    padding-top: 5px;
}
/*footer*/
.container-footer {
    width: 50;
    padding: 10px 0;
    background: #d1dde2;
    margin: top 10px;
}
.container-footer footer {
    max-width: 1300px;
    margin: auto;
}
.container-footer footer .logo-footer {
    text-align: center;
}
.container-footer footer .logo-footer img {
    width: 400px;
}
.container-footer footer .redes-footer {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.container-footer footer .redes-footer .icon-redes-footer {
    font-size: 30px;
    margin: 20px;
    background: #004761;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #4eacba;
}
.container-footer footer .redes-footer .fa-facebook-f:hover {
    background: #41579a;
    color: #ffffff;
}
.container-footer footer .redes-footer .fa-twitter:hover {
    background: #36b9ff;
    color: #ffffff;
}
.container-footer footer .redes-footer .fa-instagram:hover {
    background: linear-gradient(
        to top right,
        #fcde30,
        #e9712a,
        #d2313b,
        #ae4198,
        #7540a1,
        #5443a8
    );
    color: #ffffff;

}
.container-footer footer .redes-footer .fa-linkedin-in:hover {
    background: #0274b3;
    color: #ffffff;
}
.container-footer footer hr {
    margin-top: 10px;
    border: none;
    height: 2px;
    background: #9a9a9cde;
}
.container-footer h6 {
    text-align: center;
    margin-top: 10px;
    color: rgba(46, 44, 44, 0.287);
    font-weight: 500px;
}

@media screen and (max-width: 800px) {
    .letras h1 {
        text-align: center;
        font-size: 50px;
    }
    /*Estilos generales*/
    .titulo {
        font-size: 35px;
    }
    .titulo.left {
        text-align: center;
    }
    .info p {
        text-align: center;
    }
    /*section*/
    .webside {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .webside img {
        width: 100%;
    }
    .webside .contenedor-textos-main {
        width: 100%;
    }
    /*cards*/
    .card {
        width: 90%;
        margin-bottom: 20px;
    }
    /*galeria*/
    .galeria-cont > img {
        width: 48%;
    }
    /*last*/
    .last-section img {
        width: 98%;
    }
    .last-section .contenedor-textos-main {
        width: 98%;
        margin-bottom: 20px;
    }

}
@media screen and(max-width:400px) {
    .titulo,
    .textos-hero h1 {
        font-size: 20px;
        text-align: center;
    }
    .card {
        height: 1000px;
    }
    .webside .contenedor-textos-main {
        margin-bottom: 30px;
    }
    .galeria-cont > img {
        width: 97%;
    }
}
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
/*moviento olas footer*/
svg path {
    animation: pathAnim 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 1000;
}
svg path:nth-child(2) {
    animation-delay: 0.5s;
}
svg path:nth-child(3) {
    animation-delay: 1s;
}
svg path:nth-child(4) {
    animation-delay: 2s;
}
.img-top{

    border-color: violet;
    border-radius: 0.75em;
    width: 50%;
    margin-top: 4rem;
}
@keyframes pathAnim {
    0% {
        d: path(
            "M0,192 C220,100,440,100,660,192 C880,290,1100,290,1320,192 L1320 300 L0 300"
        );
    }
    25% {
        d: path(
            "M0,100 C220,100,440,292,660,292 C880,292,1100,100,1320,100 L1320 300 L0 300"
        );
    }
    50% {
        d: path(
            "M0,192 C220,290,440,290,660,192 C880,100,1100,100,1320,192 L1320 300 L0 300"
        );
    }
    75% {
        d: path(
            "M0,292 C220,292,440,100,660,100 C880,100,1100,292,1320,292 L1320 300 L0 300"
        );
    }
    100% {
        d: path(
            "M0,192 C220,100,440,100,660,192 C880,290,1100,290,1320,192 L1320 300 L0 300"
        );
    }
}
@media screen and (max-width: 1000px) {
    img {
        height: 400px;
    }
}

@media screen and (max-width: 800px) {
    img {
        height: 370px;
    }
    .letras h1 {
        font-size: 70px;
    }
    .letras h2 {
        font-size: 25px;
    }
}
@media screen and (max-width: 700px) {
    img {
        height: 250px;
    }
    .letras h1 {
        font-size: 40px;
    }
    .letras h2 {
        font-size: 15px;
    }
}
@media screen and (max-width: 450px) {
    .capsula {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .letras {
        width: 100%;
        text-align: center;
    }
    img {
        height: 250px;
    }
    .letras h1 {
        font-size: 60px;
    }
    .letras h2 {
        font-size: 25px;
    }
}
@media screen and (max-width: 340px) {
    img {
        height: 160px;
    }
    .letras h1 {
        font-size: 35px;
    }
    .letras a {
        width: 120px;
    }
    .letras h2 {
        font-size: 15px;
    }
}

